<h1> Create new Contact </h1>

<form action="/contacts" method="post">
	<!-- <p><input type="text" name="id"></p> -->
  <input type="text" name="first_name">
  <p><input type="text" name="last_name"></p>
  <input type="text" name="email"><br>
  <input type="text" name="note"><br>
  <input type="submit" name="Submit">
</form>